.history {
    display: none;
    flex-direction: column;
    &__box {
        display: flex;
        display: none;
        justify-content: space-between;
        &--active {
            display: flex;
        }
    }
    &--active {
        display: block;
    }
}

