.container {
    max-width: 1920px;
    width: 100%;
    height: 1080px;
    margin: 0 auto;
}

.home {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    background-image: url('images/jpg/bg-main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    &__title {
        margin-bottom: 87px;
        max-width: 1600px;
        font-style: italic;
        font-weight: 700;
        font-size: 80px;
        line-height: 101px;
        text-align: center;
        letter-spacing: 0.03em;
        
        color: #FFFFFF;
    }
    &__list {
        width: 1216px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__item {
        margin-bottom: 50px;

    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 372px;
        height: 213px;

        font-style: italic;
        font-weight: 700;
        font-size: 36px;
        line-height: 45px;
        text-align: center;
        letter-spacing: 0.03em;

        color: #FFFFFF;

        background: rgba(200, 168, 128, 0.62);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(22px);
        border-radius: 10px;
        transition-duration: .5s;
        &:hover,
        &:focus {
            background: #C8A880;
        }
        &:active {
            opacity: .8;
        }
    }
    &__text {
        max-width: 1480px;
        margin-bottom: 20px;
        font-family: $font-family--Roboto;
        font-weight: 700;
        font-size: 18px;
        line-height: 120%;
        /* or 22px */

        text-align: center;
        letter-spacing: 0.03em;

        color: #FFFFFF;
    }
}